<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carts List</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="css/grid.css" rel="stylesheet">
</head>

<body>
    <div class="container">

        <h3>Products List</h3>

        <div class="row" style="margin:0px;">
            <div class="col-lg-12">
                <h3 style="margin:0px;"> Cart
                    <%= cart%>
                </h3>
            </div>
        </div>

        <div class="row" style="margin:0px;">
            <div class="col-lg-5"><strong>Product Name</strong></div>
            <div class="col-lg-1"><strong>Quantity</strong></div>
            <div class="col-lg-2"><strong>Weight(In grams)</strong></div>
            <div class="col-lg-2"><strong>Price</strong></div>
            <div class="col-lg-2"><strong>Total Price</strong></div>
        </div>

        <% 
        var count = 0;
        var total_weight = 0;
        for(var i=0; i < data.length; i++) { 
            count  += data[i].price * data[i].quantity;
            total_weight  += parseInt(data[i].weight);
            %>
            <div class="row" style="margin:0px;">
                <div class="col-lg-5">
                    <%= data[i].product_name %>
                </div>
                <div class="col-lg-1">
                    <%= data[i].quantity %>
                </div>
                <div class="col-lg-2">
                    <%= data[i].weight %>
                </div>
                <div class="col-lg-2">
                    <%= data[i].price %>
                </div>
                <div class="col-lg-2">
                    <%= 
                        data[i].price * data[i].quantity
                    %>
                </div>
            </div>
            <% } %>

                <div class="row" style="margin:0px;">
                    <div class="col-lg-5"><strong>Total</strong></div>
                    <div class="col-lg-3" style="text-align:left"><strong>Total Kgs:</strong>:
                        <%= total_weight / 1000%>
                    </div>
                    <div class="col-lg-4" style="text-align:right"><strong>Total Price:</strong>:
                        <%= count%>
                    </div>
                </div>

                <div class="row" style="margin:0px;"><br><br>
                    <div class="col-lg-12">
                        <a href="thankyou.php?cart_id=<%= cart%>"><input type="button" class="btn btn-primary" value="Pay"></a>
                    </div>
                </div>

    </div>

</body>

</html>