<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carts List</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="css/grid.css" rel="stylesheet">
</head>

<body>
    <div class="container">

        <h3>Carts List</h3>


        <div class="row">
            <% for(var i=0; i < data.length; i++) { %>
                <div class="col-lg-4">
                    <%= "Cart "+ data[i].cart_id %>
                        <br><br>
                        <% 
                        if (data[i].cart_status == "1") {  
                            %>
                            <a href="<%= site_url %>cartDetails.php?cart_id=<%= data[i].cart_id %>"><input type="button" class="btn btn-primary" value="Details"></a>
                            <% 
                        }
                        else { 
                            %><input type="button" class="btn btn-default" value="Details">
                                <%
                        } %>


                </div>
                <% } %>
        </div>


    </div>

</body>

</html>